html {
  scroll-behavior: smooth !important;
}

.scroll-top {
  align-items: center;
  justify-content: center;
}
.scroll-top:hover {
  color: black;
}

.main-menu .navbar-collapse li {
  cursor: pointer;
}
.main-menu .navbar-collapse li.dropdown:hover > ul {
  display: block;
}

.testimonials-wrap .slick-slide {
  padding: 0 15px;
}

.project-item.style-four {
  position: relative;
}
.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #c9f31d;
}
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid #c9f31d;
}
.cursor-dot,
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid #c9f31d;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate (-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
